/* doctors_recommendation.css */
.rec-msg{
    display: flex;
    justify-content: center;
}
.recommendation-message {
    font-size: 18px;
    color: #333;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px; /* Adjust the maximum width as needed */
    line-height: 1.5;
    font-style: italic;
  font-weight: 100;
  }
  .doctors-rec-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px; /* Adjust the gap between cards as needed */
    margin: 2rem;
  }
  
  .doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Card background color */
    border: 1px solid #ddd; /* Card border */
    border-radius: 12px; /* Increase border radius for a softer look */
    padding: 30px; /* Increase padding for more space inside the card */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase box shadow for a subtle lift */
    width: 300px; /* Set a fixed width for the card */
  }
  
  .doctor-card img {
    width: 150px; /* Increase the width of the profile icon */
    height: 150px; /* Increase the height of the profile icon */
    border-radius: 50%;
    margin-bottom: 15px; /* Increase margin between profile icon and text */
  }
  
  .doctor-info {
    text-align: center;
  }
  
  .doctor-info h3 {
    margin: 10px 0; /* Increase margin around the doctor's name */
    font-size: 24px; /* Increase the font size of the doctor's name */
  }
  
  .doctor-info p {
    margin: 8px 0; /* Adjust margin for specialization text */
    font-size: 16px; /* Adjust font size for specialization text */
    color: #555; /* Text color for specialization */
  }
  
  .profile-link {
    margin-top: 15px; /* Add margin at the top of the profile link */
    color: #007bff; /* Link color */
    text-decoration: none;
  }
  
  .profile-link:hover {
    text-decoration: underline;
  }
