footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #630031;
    color: white;
}

.copyrights {
    display: flex;
    flex-direction: column;
    padding: 0.875rem;
}

.links {
    width: 60%;
    padding-top: 0.875rem;
}

.links ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.links li {
    text-decoration: none;
}

.social-media-icons {
    display: flex;
    gap: 1em;
    
}
.social-media-icons-follow{
    padding: 0.875rem;
}