*{
    font-family: 'Times New Roman', Times, serif;
}
.slideshow {
    display: block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.slideshow img {
    display: none;
    width: 100%;
    height: 70vh;
    transition: opacity 1s;
    object-fit: cover;
}

.slideshow {
    z-index: 1;
}

.slideshow img.active {
    display: block;
    opacity: 1;
}

.title-services {
    text-align: center;
    color: #630031;
    font-weight: 600;
    margin:1rem;
}

.grid-services {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-row-gap: 6vh;
    grid-column-gap: 15vh;
    padding: 1vh;
    padding-bottom: 3vh;
    justify-content: center;
}

.item {
    border: 1px solid #630031;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    padding: 4vh;
    justify-content: space-between;
    
}
.item .box-text{
    color:black;
}

.item img {
    width: 15vh;
    height: 15vh;
}

.box-title {
    font-size: large;
    font-weight: 600;
    color:#630031;
}

.box-text {
    font-size: medium;
    font-weight: 500;
    
}

.rectangle {
    width: 700px;
    height: 250px;
    background-color: #630031;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    margin: 1rem;

}

.our-process {
    display: flex;
    width: 100%;
    justify-content: center;
}

.our-process img {
    width: 15vh;
    height: 15vh;
}

.process-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

.process-text h3 {
    color: white;

}

.process-text span {
    color: white;
}