/* login.css */

.input-label,
.custom-control-label-1,
.login-button,
.forgot-password a {
  color: white !important;
}

.whole-container {
  /* Your background image styling */
  background-color: #f0f0f0; /* Fallback background color */
}
.main-container-login{
  margin:0;
  margin-left: 30rem;
}
.login-container {
  max-width: 500px;
  margin: 10rem 0; /* Remove margin-left: 25rem; and set margin only for the top and bottom */
  padding: 0; /* Remove padding to eliminate spacing inside the container */
  background-color: FFFFFF0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.login-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* login.css */
/* ... (previous CSS rules) ... */

.form-group {
  margin-bottom: 10px; /* Reduce the margin between form groups */
}

.input-label {
  font-weight: bold;
  color:white;
}
.custom-control-label-1{
  color:white;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-button {
  background-color: #630031;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #630031;
  color: white;
}

.forgot-password a {
  color: #630031;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
