.auth-form {
  padding: 20px;
  background-color: 00FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black !important;
}

.input-label {
  font-weight: bold;
  color: white;
}

.form-group label {
  font-weight: bold;
  color: white;
}

label .gender {
  color: black;
}

.sign-up-button {
  background-color: #630031;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #630031;
}

.forgot-password a {
  color: #630031;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}